**Table of contents**<a id='toc0_'></a>    
- [Feature selection](#toc1_1_)    
    - [Principle Component Analysis](#toc1_1_1_)    
    - [Feature importance from tree-based models (e.g., Random Forest)](#toc1_1_2_)    
- [model](#toc2_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [1]:
import pandas as pd
import numpy as np
import re
from IPython.display import display, HTML
import sys
import os

import warnings
warnings.filterwarnings("ignore")
sys.path.append('/Users/jianbinlin/Documents/Master-Data-Spreadsheet/script/')

import utility
from utility import *

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

display(HTML("<style>.container { width:50% !important; }</style>"))
#display(HTML('<style>.output { max-width:800px !important; }</style>')) # control output width
display(HTML("<style>.container { width:130% !important; }</style>"))

pd.set_option('display.max_columns', None)   # Show number of columns, None means show all columns
pd.set_option('display.max_rows', 50)        # show top and bottom 15, middle with ......
pd.set_option('display.width', None)         # Set the width of the display
pd.set_option('display.max_colwidth', None)  # Show full content of each column

24/11/27 14:58:00 WARN Utils: Your hostname, Jians-iMac.local resolves to a loopback address: 127.0.0.1; using 10.0.0.23 instead (on interface en1)
24/11/27 14:58:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/27 14:58:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
term_deposit_subscription = pd.read_csv('https://raw.githubusercontent.com/KevinJianLin/term_deposit_subscription/refs/heads/main/data/train.csv')
data_target = term_deposit_subscription.copy()
df_profiling_term_deposit = data_profiling(data_target)
# df_profiling_term_deposit()

In [5]:
data_target.head(5)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [6]:
data_target['subscribed']

0         no
1         no
2         no
3        yes
4         no
        ...
31642     no
31643    yes
31644     no
31645     no
31646    yes
Name: subscribed, Length: 31647, dtype: object

In [18]:
label_encoder = LabelEncoder()
data_target['subscribed'] = label_encoder.fit_transform(data_target['subscribed'])

In [13]:
df_profiling_term_deposit.float_column

[]

In [14]:
df_profiling_term_deposit.int_column

['ID', 'age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [15]:
df_profiling_term_deposit.cat_col

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'previous',
 'poutcome',
 'subscribed']

In [16]:
df_profiling_term_deposit.rest_columns

[]

In [ ]:
# Prepare the feature matrix and target
X = data_target[df_profiling_term_deposit.float_column + df_profiling_term_deposit.int_column + df_profiling_term_deposit.cat_col].drop(columns =['subscribed'])

y = data_target['subscribed']

# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
y

0         no
1         no
2         no
3        yes
4         no
        ...
31642     no
31643    yes
31644     no
31645     no
31646    yes
Name: subscribed, Length: 31647, dtype: object

In [11]:
X_train.head(5)

,ID,age,balance,day,duration,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,day,month,previous,poutcome
18361,7670,44,5282,30,274,1,-1,0,management,married,tertiary,no,yes,no,unknown,30,may,0,unknown
2232,30787,54,184,6,13,6,-1,0,management,married,tertiary,no,no,no,cellular,6,feb,0,unknown
24219,33944,29,314,30,465,1,-1,0,student,single,secondary,no,no,no,cellular,30,apr,0,unknown
15644,27417,32,3816,21,53,3,-1,0,admin.,single,tertiary,no,yes,no,cellular,21,nov,0,unknown
8354,23064,38,0,26,101,4,-1,0,management,married,tertiary,no,no,no,cellular,26,aug,0,unknown

In [12]:
y_train.head(5)

18361     no
2232      no
24219    yes
15644     no
8354      no
Name: subscribed, dtype: object

## <a id='toc1_1_'></a>[Feature selection](#toc0_)

### <a id='toc1_1_1_'></a>[Principle Component Analysis](#toc0_)

### <a id='toc1_1_2_'></a>[Feature importance from tree-based models (e.g., Random Forest)](#toc0_)
Permutation importance
SHAP (SHapley Additive exPlanations) values
Recursive feature elimination
Lasso regularization

###

# <a id='toc2_'></a>[model](#toc0_)

In [25]:

data_preprocessor_1 = ColumnTransformer(transformers = [
                                   #         ('text', TfidfVectorizer(max_features=500), text_col),
                                            ('float_col',StandardScaler(),df_profiling_term_deposit.int_column),
                                        #    ('cat_col', OneHotEncoder(), cat_col),
                                            ])

In [26]:
label_encoder.classes_

array(['no', 'yes'], dtype=object)

In [27]:
best_model ={}

In [28]:
# Loop through models and apply GridSearchCV
for model_name, model_infor in model_parameters_classification.items():


    # Create a pipeline for each model
    pipeline = Pipeline([('preprocessor',data_preprocessor_1),
                         ('classifier',model_infor['model'])])
    
    # Initialize GridSearchCV with model and parameter grid
    grid_search = GridSearchCV(estimator=pipeline,
                                param_grid = model_infor['params'],
                                cv = 5, # 5 fold cv
                                scoring = 'accuracy', # f1 etc
                                verbose =0, # not to display output
                                n_jobs = -1 # use all of cores
                                )
    grid_search.fit(X_train, y_train)

    best_model[model_name] = grid_search.best_estimator_
    print(f"Best Parameters for {model_name}: {grid_search.best_params_}")

    y_pred = grid_search.predict(X_test)
    print(f"Classification Report for {model_name}:\n")
    print(classification_report(y_test, y_pred, target_names = label_encoder.classes_))

    # print(model_infor['model'])

ValueError:
All the 180 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
180 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 890, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/base.py", line 1351, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/pipeline.py", line 471, in fit
    Xt = self._fit(X, y, routed_params)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/pipeline.py", line 408, in _fit
    X, fitted_transformer = fit_transform_one_cached(
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/joblib/memory.py", line 353, in __call__
    return self.func(*args, **kwargs)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/pipeline.py", line 1303, in _fit_transform_one
    res = transformer.fit_transform(X, y, **params.get("fit_transform", {}))
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/utils/_set_output.py", line 273, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/base.py", line 1351, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/compose/_column_transformer.py", line 906, in fit_transform
    self._validate_column_callables(X)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/compose/_column_transformer.py", line 496, in _validate_column_callables
    transformer_to_input_indices[name] = _get_column_indices(X, columns)
  File "/Users/jianbinlin/Documents/venv/lib/python3.10/site-packages/sklearn/utils/__init__.py", line 482, in _get_column_indices
    raise ValueError(
ValueError: Selected columns, ['ID', 'age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], are not unique in dataframe

In [36]:
y_test

2308     0
22404    0
23397    0
25058    0
2664     1
        ..
2210     0
14144    1
23108    0
25703    0
29171    0
Name: default.payment.next.month, Length: 6000, dtype: int64

In [37]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])